@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";


/* =========================
   LIGHT THEME
========================= */
:root {
  --background: #fafafa;
  --foreground: #1a1a1a;

  --card: #fff;
  --card-foreground: #1a1a1a;

  --border: #e4e4e7;

  --primary: #2c5f2d;
  --primary-foreground: #fff;

  --secondary: #f4f1ea;
  --secondary-foreground: #1a1a1a;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --hover: #ffe4e6;
}

/* =========================
   DARK THEME
========================= */
.dark {
  --background: #0d1117;
  --foreground: #f8fafc;

  --card: #161b22;
  --card-foreground: #f8fafc;

  --border: #30363d;

  --primary: #3fb950;
  --primary-foreground: #ffffff;

  --secondary: #21262d;
  --secondary-foreground: #f8fafc;

  --muted: #21262d;
  --muted-foreground: #8b949e;

  --hover: #262c36;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-hover: var(--hover);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
}

/* Book hover animation */
@keyframes hoverBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

}

.hover-bounce-once:hover {
  animation: hoverBounce 0.8s ease;
}

/* =========================
   BASE
========================= */

/* * {
  border-color: var(--border);
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}